<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-checkHuaweiServices-google-priority" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>CheckHuaweiServicesGooglePriority</name>
  <author>Paul Frolov</author>
  <description>Cordova Plugin to check Huawei Services Availability</description>
  <keywords>cordova,android,huawei,huawei services, plugin</keywords>

  <license>MIT</license>
  
  <repo>https://github.com/pawfrolow/cordova-plugin-check-huawei-services-google-priority</repo>
  <issue>https://github.com/pawfrolow/cordova-plugin-check-huawei-services-google-priority/issues</issue>

  <js-module name="CheckHuaweiServices" src="www/CheckHuaweiServicesGooglePriority.js">
    <clobbers target="CheckHuaweiServices" />
  </js-module>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="CheckHuaweiServices">
        <param name="android-package" value="com.checkhuaweiservices.CheckHuaweiServices" />
      </feature>
    </config-file>

    <config-file parent="/*" target="AndroidManifest.xml"></config-file>

    <source-file src="src/android/com/checkhuaweiservices/CheckHuaweiServices.java" target-dir="src/cordova-plugin-checkHuaweiServices/CheckHuaweiServices" />

    <framework custom="true" src="src/android/build-extras.gradle" type="gradleReference"/>
  </platform>
</plugin>
